@media screen {
    .ciceron-translate {
        display: inline-block;
        position: relative;
    }
    .ciceron-translate>a {
        vertical-align: top;
        line-height: normal;
    }
    .PostFull__header .ciceron-translate {
        margin-left: auto;
    }
    .PostFull__header .ciceron-translate>a {
        font-size: .8em;
        font-weight: 100;
        border: 1px solid #1FBF8F;
        border-radius: 3px;
        padding: 3px 10px;
        vertical-align: middle;
    }
    .ciceron-translate>a>* {
        /* vertical-align: middle; */
        font-size: .98em;
        line-height: normal;
    }
    .PostFull__header .ciceron-translate>a>* {
        color: #1FBF8F !important;
    }
    .PostFull__footer .ciceron-translate>a>* {
        font-size: 1em;
    }
    .ciceron-translate>a>img {
        height: 16px;
    }
    .ciceron-translate-popup {
        width: auto !important;
        min-width: 200px;
        /* height: 300px; */
        /* background-color: #ee008c; */
        /* opacity: 0; */
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 100;
    }
    .ciceron-translate-popup>table {
        width: 100%;
        margin: 0;
    }
    .ciceron-translate-popup>table tr {
        width: 100%;
        border: none;
    }
    .ciceron-translate-popup>table td {
        border: none;
        word-wrap: normal;
        word-break: keep-all;
        white-space: nowrap;
        font-size: 16px;
    }
    .ciceron-translate-popup:focus,
    .ciceron-translate-popup:active,
    .ciceron-translate-popup.show {
        /* opacity: 1; */
    }
    .ciceron-button {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        transition: color .5s ease;
        text-align: center;
    }
    .ciceron-button:hover {
        color: #1FBF8F;
    }
    .ciceron-translate-popup .ciceron-button {
        width: 100%;
    }
    .ciceron-help {
        width: auto;
        height: 12px;
        vertical-align: top;
        cursor: pointer;
    }
}